__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
env/
build/
dist/
.pytest_cache/
backend/data/
*.mp4
*.pt
backend/models/owlv2/
*.db
node_modules/
frontend/dist/
frontend/node_modules/
.npm
*.log
.vscode/
.idea/
.DS_Store
